.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    height: 100vh;
}

.item {
    border: 1px solid #000;
    /* height: 100px; */
}

@media (max-width: 1024px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 767px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .item {
        height: calc(100vh / 3);
    }
}