@import 'vars';

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header {
    background-color: $backBlock;
    padding: 20px 0;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 41px;
}

.top-head {
    background-color: #F8F3F4;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-head__heading {
    color: $colorSelectSite;
    // font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.breadcrumbs__link {
    color: #636363;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.breadcrumbs__current {
    color: $colorSelectSite;
    font-weight: 700;
}

.product {
    width: $thirdSite;
    display: flex;
    flex-direction: column;

    &-img {
        width: 100%;
    }

    &-content {
        background-color: #F8F8F8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &-name {
        color: $colorText;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-text {
        color: #5D5D5D;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &-price {
        color: $colorSelectSite;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}